# Add your MongoDB URI and OPENAI_API_KEY below.
# Make sure to replace:
#   - mongodb_user for your database user
#   - mongodb_password for your user's password
#   - 127.0.0.1 for your server's hostname
#   - 27017 for your server's port number
#   - default_database for the database name you're connecting to
#   - as for OPENAI_API_KEY, you copy-paste your API key to replace sk-

MONGODB_URI=mongodb://mongodb_user:mongodb_password/127.0.0.1:27017/default_database
OPENAI_API_KEY=sk-