{% extends "layout.html" %}

{% block main_content %}
{# Highcharts script source #}
<script src="https://code.highcharts.com/highcharts.js"></script>

<section class="activity-list">
    <h1>Activity Analysis</h1>

    {% if activities %}
        <div id="chart-container" style="height: 400px; width: 600px;"></div>

        {% for activity in activities %}
            <div class="activity">
                <p class="activity__hour">
                    <strong>Hour:</strong> {{ activity["Hour"] }}
                </p>
                <p class="activity__content">
                    <strong>Activity:</strong> {{ activity["Activity"] }}
                </p>
                <p class="activity__gpt-response">
                    <strong>GPT-4 Response:</strong> {{ activity["gpt_message"] }}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>No activities found. To begin, upload a CSV file using the "Upload" link above.</p>
        <p>This app analyzes your CSV file, particularly your "activities" column using GPT-4</p>
    {% endif %}
</section>

{% if activities %}
    {# Highcharts script #}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Process the activities data to the format suitable for Highcharts
        var activities = JSON.parse('{{ activities_chart | safe }}');
        var hours = activities.map(function(a) { return a.Hour; });
        var gptMessages = activities.map(function(a) { return parseInt(a.gpt_message); });

        // Render the chart
        Highcharts.chart('chart-container', {
            chart: { type: 'line' },
            title: { text: 'Activity Analysis' },
            xAxis: { categories: hours },
            yAxis: { title: { text: 'GPT-4 Response' }},
            series: [{ name: 'GPT-4 Response', data: gptMessages }]
        });
    });
    </script>
{% endif %}

{% endblock %}
